@model List<ProjetoFinal.Models.Compra>

@* <form asp-action="FechamentoCaixa" method="post" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="col-12">
        <div class="input-group">
            <label for="DataSel" class="control-label">Qual data gostaria de ver o fechamento do caixa? </label>
            <input id="dataSel" name="dataSel" type="date" class="form-control" />
        </div>
    </div>
    <button type="submit" class="col-md-2 btn btn-success">Exibir Vendas</button>
</form> *@

@if (Model != null && Model.Any())
{
    <h3>Vendas realizadas no dia </h3>
    <hr />
    <table>
        <thead>
            <tr>
                <th class="col-md-1 text-center">Código</th>
                <th class="col-md-2 text-center">Data</th>
                <th class="col-md-2 text-center">Forma de Pagamento</th>
                <th class="col-md-2 text-center">Valor Unitário</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                <tr>
                    <td class="text-center">@v.CompraID</td>
                    <td class="text-center">@v.DataCompra</td>
                    <td class="text-center">@v.FormaPagamento</td>
                    <td class="text-center">@v.Produto.PrecoUnit</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="col-12">Nenhuma compra realizada na data selecionada.</h2>
}
<a asp-controller="Compras" asp-action="Index" type="button" class="btn btn-primary m-2">Voltar</a>